name: test-runner
on: workflow_dispatch
jobs:
  hello:
    runs-on: [self-hosted, linux, rdgen]   # se NON hai la label 'rdgen', usa [self-hosted, linux]
    steps:
      - uses: actions/checkout@v4
      - name: Say hello
        run: |
          echo "Runner: $RUNNER_NAME"
          uname -a
          id
